body,
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Segoe WP', system-ui, Arial, Sans-Serif;
    -webkit-font-smoothing: antialiased;
}

#root,
.App {
    height: 100%;
}

#bgimage {
    position: fixed;
    animation: fadein 500ms;
}

#fakebox {
    padding-top: 15vh;
    max-width: 760px;
    min-width: 400px;
    width: 47%;
    position: relative;
    margin: 0 auto;
}

.searchBox {
    height: 44px;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    box-shadow: 0px 0.3px 0.9px rgb(0 0 0 / 12%), 0px 1.6px 3.6px rgb(0 0 0 / 12%);
    transition: all 0.2s ease-in-out;
    flex-direction: row;
    border-radius: 4px;
    opacity: 1;
    position: relative;
    visibility: visible;
    min-width: 0;
}

.searchBox:hover{
    box-shadow: 16px 8px 17px 10px rgb(0 0 0 / 12%), 1.6px 1.6px 10px 3px rgb(0 0 0 / 12%);
}

.searchBox>.searchContent {
    margin: 0;
    display: flex;
    min-width: 92px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    flex-direction: row;
    width: 100%;
    border: transparent;
    border-radius: 4px;
    background: #FFFFFF;
    height: 44px;
    opacity: 1;
    position: relative;
    visibility: visible;
}

.searchBox>.searchContent .searchHintDot {
    height: 44px;
    opacity: 1;
    position: relative;
    top: 14px;
    width: 1px;
    bottom: 14px;
    margin: 0 16px;
    z-index: 1000;
    position: absolute;
    visibility: hidden;
    background: #262626;
}

.searchBox>.searchContent .searchHint {
    height: 44px;
    opacity: 1;
    position: relative;
    top: 4px;
    bottom: 4px;
    margin: 0 16px;
    overflow: hidden;
    position: absolute;
    font-size: 16px;
    text-align: initial;
    visibility: inherit;
    font-family: 'Segoe UI', 'Segoe WP', 'system-ui', 'Arial', 'Sans-Serif';
    line-height: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
    color: #717171;
}

.searchBox>.searchContent .searchInput {
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #262626;
    flex: 1 0 0px;
    border: none;
    min-width: inherit;
    background: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 16px;
    opacity: 0;
}

.searchBox>.searchContent .searchCommitBtn {
    opacity: 1;
    position: relative;
    visibility: visible;

    display: inline-flex;
    overflow: hidden;
    max-width: 374px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    line-height: 1;
    font-family: inherit;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;

    background-color: transparent;

    flex: 0 0 auto;
    width: 70px;
    cursor: pointer;
    height: 100%;
    padding: 0 5px;
    min-width: 54px;
    border-radius: 0 4px 4px 0;

    border-color: transparent;
    color: #262626;
    fill: #262626;
}

.searchBox>.searchContent .searchCommitBtn>.searchIconBtn {
    opacity: 1;
    visibility: visible;

    display: inline-flex;
    overflow: hidden;
    max-width: 374px;
    box-sizing: border-box;
    transition: all 0.1s ease-in-out;
    line-height: 1;
    font-family: inherit;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;

    background-color: transparent;

    flex: 0 0 auto;
    width: 70px;
    cursor: pointer;
    height: 100%;
    padding: 0 5px;
    min-width: 54px;
    border-radius: 0 4px 4px 0;

    border-color: transparent;
    color: #262626;

    position: relative;

    fill: #0078D4;
}

.searchBox>.searchContent .searchCommitBtn>.searchIconBtn::before {
    display: none;
}

.searchBox>.searchContent .searchCommitBtn>.searchIconBtn::before {
    width: 100%;
    bottom: -3px;
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    left: 0;
}

.searchBox>.searchContent .searchCommitBtn>.searchIconBtn svg.icon {
    width: 20px;
    height: 20px;
}